
<div class="title">
    <div class="back" (click)="viewCategories()" *ngIf="listCategories.length == 0">
        <fa-icon [icon]="backIcon"></fa-icon>
        Categoria {{categoryActivated}}
    </div>
    <div  class="back" *ngIf="listCategories.length > 0">
      Envío de eventos x categoría
    </div>
</div>
<google-chart #googlechart
[type]="chart.type"
[data]="chart.data"
[options]="chart.options"
[columnNames]="chart.columnNames"
[roles]="chart.myRoles"
on-select="ready($event)"
>

</google-chart>



