<div>
  <div class="buttonsContainer">
    <span>Edicion de flujo de eventos</span>
    <button type="button" class="btn btn-primary" (click)="open(content)" *ngIf="isEdit">Guardar</button>
    <button type="button" class="btn btn-outline-secondary" [routerLink]='["/workflow/scl"]'>Regresar</button>
  </div>
  <div class="form-group">
    <label>Nombre del flujo: {{nameWF}}</label>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <app-confirm-dialog [description]="'Se va a editar el flujo.'" [question]="'¿Está seguro de ejecutar esta acción?'"
      (result)="action($event)"></app-confirm-dialog>
  </ng-template>
</div>
<div class="divContainerWorkflow">
  <app-toolbox-workflow [operation]="3"></app-toolbox-workflow>
  <div class="sheet">
    <app-workflow-area [newLine]="readNewLine()" [isRebuildWorkflow]="true"></app-workflow-area>
  </div>
</div>