.listaTabla{
    overflow: auto;
}
.itemFilter{
    border: 1px solid #ddd;
    font-size: 12px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.table{
    background-color: #fff !important;
    border: 1px solid #ddd;
    font-size: 0.8em;
}
/* .table tbody td{
    border-right: 1px solid #aaa ;
    border-left: 1px solid #aaa;
}
.table tbody tr{
    border-top: 1px solid #aaa ;
    border-bottom: 1px solid #aaa;
} */
.table td{
    vertical-align: middle;
    text-align: center;
}
.table thead th{
    vertical-align: middle;
    text-align: center;
    /* background: linear-gradient(to bottom,#fff,#ddd);
    border: 1px solid #aaa; */
}

table table{
    table-layout: fixed;
    margin: 0;
    border: 0;
    min-height: calc(24vh - 4rem);
    background-color: transparent !important;
}

table table tr{
    background-color: transparent;
}

td.colFixed{
    width: 50%;
    border: 0;
    vertical-align: middle;
    border: 1px solid #ccc;
}
div.colFixed{
    width: 50%;
    display: inline-block;
    /* background: linear-gradient(to bottom,rgba(13,62,80,1),#444);
    color: #fff; */
    /* background: linear-gradient(to bottom,#fff,#ddd); */
    color: #555;
    border: 1px outset #dee2e6;
    font-size: 12px;
    border-radius: 0px 10px 0 0
}
.colFixedContainer{
    padding: 0px;
    min-width: 200px;
    vertical-align: middle;
    /* font-size: 0.5em; */
    text-align: center;
    border: 3px inset #fff;
}

.colFixedContainer.col{
    border:0;
}

th.date{
    min-width: 115px;
}
th{
    border-top:none;
    border-bottom:none !important;
}
.groupList>tbody>tr>td,.groupList>tbody>tr>th{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    vertical-align: middle;
}

.btnradio{
    background: none;
    border: none;
    display: table;
    padding-left: 30px;
    cursor: pointer;
    margin: 0 auto;
}

.btnradio.btnSelected label::before{
    background: rgba(13,62,80,1);
    border:1px solid #aaa;
}

.btnradio.active h6::before{
    background: rgba(13,62,80,1);
    border:1px solid #aaa;
}



