.containerChart{
    width: 300px;
    float: left;
    margin: 10px;
}

.cc{
    overflow: hidden;
}


.efControl{
    float:left;
    margin: 10px;
    border: 1px solid rgba(13,62,80,1);
}
.center{
    display: table;
    margin: 0 auto;
}
.title{
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: rgba(13,62,80,1);
}

.categoryName{
    font-weight: 700;
    font-size: 8px;
    color: #fff;
    border-bottom: .5px solid rgba(13,62,80,1);
    text-align: center;
    background: rgba(1,1,1,0.3);
    border-radius: 0px !important;
    margin: 0 auto;
    padding: 3px;
}

.category {
    /* border-bottom: 1px solid #ddd; */
    border-bottom: .5px solid rgba(13,157,174,1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.eff .category{
    display: table;
    float: left;
    margin: 10px !important;
}

.eff .efControl{
    margin: 0 !important;
    background: rgba(255,255,255,.1);
    border: .1px solid rgba(0,0,0,.1);
}

.date{
    background: rgba(0,0,0,0.3);
    padding: 0 10px;
    border-radius: 7px 0;
    margin: 0 10px;
}

.downloadExcel{
    background: transparent url('../../resources/img/excelDownload.png') no-repeat center/50px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    cursor:pointer;
}

.downloadExcel a{
    width: 50px;
    height: 50px;
    display: block;
}
.DW{
    color: #fff;
    font-size: 10px;
}