<div class="actionsContainer" *ngIf="readVisibilityActions('CREAR_GESTION')"><button type="button"
  class="btn btn-primary btnNew" [routerLink]='["/manager/davox/new-management"]'>Crear Gestión</button></div>
<ng-template #content let-c="close" let-d="dismiss">
<app-confirm-dialog [description]="'Se va a cambiar el estado de la gestion.'"
  [question]="'¿Está seguro de ejecutar esta acción?'" (result)="action($event)"></app-confirm-dialog>
</ng-template>
<div class="table-responsive-md listaTabla">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre de la Gestión</th>
      <th scope="col">Fecha Creación</th>
      <th scope="col">Fecha Activación</th>
      <th scope="col">Grupo</th>
      <th scope="col">Flujo</th>
      <th scope="col">Configuraciones</th>
      <th scope="col" *ngIf="readVisibilityActions('EDITAR_GESTION')">Controles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let management of managementList">
      <th scope="row">{{management.item}}</th>
      <td>{{management.nameManagement}}</td>
      <td>{{management.dateCreated}}</td>
      <td></td>
      <td>{{management.nameGroup}}</td>
      <td>{{management.nameWorkflow}}</td>
      <td class="cHistory">
        <button class="btn btn-secondary viewH" [ngbPopover]="popContent" placement="left" popoverClass="history">Ver
          Historial</button>
        <ng-template #popContent>
          <div class="containerHistory">
            <div class="row tittle">
              <div class="col">FLUJO</div>
              <div class="col">EFICIENCIA</div>
              <div class="col"></div>
            </div>
            <div class="filas">
              <div class="row" *ngFor="let x of management.history">
                <div class="col">{{x.NombreFlujo}}</div>
                <div class="col">{{x.Eficiencia}}</div>
                <div class="col">
                  <button type="button" class="btnAction btnEdit"
                    (click)="workflowView(contentViewWorkflow,management.nameGroup,management.nameManagement,x)">
                    <fa-icon [icon]="editIcon"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </td>
      <td *ngIf="readVisibilityActions('EDITAR_GESTION')">
        <div class="actions radiosContainer">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="stateSelectRadio"
            [(ngModel)]="management.state">
            <label ngbButtonLabel class="btn-success">
              <input ngbButton type="radio" value="1" (change)="open(content,management)">
              <fa-icon [icon]="playIcon"></fa-icon>
            </label>
            <label ngbButtonLabel class="btn-warning" *ngIf="management.state!=3">
              <input ngbButton type="radio" value="2" (change)="open(content,management)">
              <fa-icon [icon]="pauseIcon"></fa-icon>
            </label>
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" value="3" (change)="open(content,management)">
              <fa-icon [icon]="stopIcon"></fa-icon>
            </label>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<ng-template #contentViewWorkflow let-c="close" let-d="dismiss">
<app-view-work-flow [obj_X]="obj_history" [operation]="4"  [nameManager]="nameManager_V" [nameGroup]="nameGroup_V"></app-view-work-flow>
</ng-template>