.float_{
    margin:15px;
    float: left;
}
.float_.cartera{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    width: 300px;
}
.container_float{
    display: table;
    margin: 0 auto;
}
.row_{
    padding: 15px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 30px 0;
    border-radius: 5px;
    box-shadow: 4px 3px #ccc;
}
h3.tittle{
    text-align: center;
}

.Monitoreo{
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
}
.OK{
    background: #5bc500;
}
.OFF{
    background: #777;
}
.OFF div{
    display: none;
}
.ERROR{
    background: #e9426d;
}
.EJECUCION{
    background: #f5a623;
}
.Monitoreo div{
    text-align: center;
    color: #fff;
}
.subTitle{
    background: #fff;
    text-align: center;
}
.console{
    font-size:10px; 
}
.item{
    margin: 5px 0;
}
.item span{
    margin-right: 10px;
    width: 15px;
    height: 10px;
    display: inline-block;
}
/* .col{
    padding: 0;
    border: 1px solid #fff;
}

.col label{
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 5px 0;
    text-shadow: -2px -1px #000;
    font-size: 12px !important;
    padding: 0;
}
.col span{
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    display: block;
    background: rgba(255,255,255,.2);
    text-shadow: -1px 1px #000;
    color: #fff;
}
 */
