<div class="container">
  <div>
    <div class="row_">
      <div class="container_float">
        <div class="float_ cartera">
          <h5>Cartera Fija</h5>
          <div>Cantidad de Registros: {{detailFixedPortfolio.quantity}}</div>
          <div>Ultima Actualización: {{detailFixedPortfolio.updateLast}}</div>
        </div>
        <div class="float_ cartera">
          <h5>Cartera Móvil</h5>
          <div>Cantidad de Registros: {{detailMobilePortfolio.quantity}}</div>
          <div>Ultima Actualización: {{detailMobilePortfolio.updateLast}}</div>
        </div>
      </div>

    </div>



    <div class="row_">
      <h3 class="tittle">Monitoreo de Consolas</h3>
      <div class="container_float">
        <div class="float_ console">
          <div class="item"><span class="OK"></span>Ejecución exitosa</div>
          <div class="item"><span class="ERROR"></span>Ejecución fallida</div>
          <div class="item"><span class="EJECUCION"></span>En ejecución</div>
          <div class="item"><span class="OFF"></span>No hay Registro de ejecución</div>
        </div>
        <div class="float_ console">
          <div class="subTitle">Armado grupos y ejecución de flujos Fija</div>
          <div class="Monitoreo" [ngClass]="MonitoringAGFixed">
            <div>Ultima ejecución:</div>
            <div>{{MonitoringAGFixedDate}}</div>
          </div>
        </div>
        <div class="float_ console">
          <div class="subTitle">Armado grupos y ejecución de flujos Móvil</div>
          <div class="Monitoreo" [ngClass]="MonitoringAGMobile">
            <div>Ultima ejecución:</div>
            <div>{{MonitoringAGMobileDate}}</div>
          </div>
        </div>
        <div class="float_ console">
          <div class="subTitle">Carga Diaria Fija</div>
          <div class="Monitoreo" [ngClass]="MonitoringCDFixed">
            <div>Ultima ejecución:</div>
            <div>{{MonitoringCDFixedDate}}</div>
          </div>
        </div>
        <div class="float_ console">
          <div class="subTitle">Carga Diaria Móvil</div>
          <div class="Monitoreo" [ngClass]="MonitoringCDMobile">
            <div>Ultima ejecución:</div>
            <div>{{MonitoringCDMobileDate}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row_" *ngIf="dailyEventsRecord!=null">
      <h3 class="tittle">Gestión diaria de eventos</h3>
      <div *ngIf="dailyEventsRecord.Campo1=='NO HAY EVENTOS PARA GESTIONAR'" class="subTitle">{{dailyEventsRecord.Campo1}}</div>
      <div class="container_float" *ngIf="dailyEventsRecord.Campo1!='NO HAY EVENTOS PARA GESTIONAR'">
        <div class="float_ ">
          <app-pie-chart [dailyEventsRecord]="dailyEventsRecord"></app-pie-chart>
        </div>
        <div class="float_ ">
          <app-failed-events-chart [dailyEventsRecord]="dailyEventsRecord"></app-failed-events-chart>
        </div>
      </div>
    </div>
  </div>
</div>