<div class="container">
  <div>
    <div class="row_">
      <div class="container_float">
        <div class="float_ cartera">
          <h5>Cartera Fija</h5>
          <div>Cantidad de Registros: {{detailFixedPortfolio.quantity}}</div>
          <div>Ultima Actualización: {{detailFixedPortfolio.updateLast}}</div>
        </div>
        <div class="float_ cartera">
          <h5>Cartera Móvil</h5>
          <div>Cantidad de Registros: {{detailMobilePortfolio.quantity}}</div>
          <div>Ultima Actualización: {{detailMobilePortfolio.updateLast}}</div>
        </div>
      </div>

    </div>
  </div>
</div>