<div class="container">
  <div class="row cartera">
    <div class="col">
      <h3>Cartera Fija</h3>
      <label>Cantidad de Registros: </label>
      <span>{{detailFixedPortfolio.quantity}}</span>
      <label>Ultima Actualización: </label>
      <span>{{detailFixedPortfolio.updateLast}}</span>
    </div>
    <div class="col">
      <h3>Cartera Móvil</h3>
      <label>Cantidad de Registros: </label>
      <span>{{detailFixedPortfolio.quantity}}</span>
      <label>Ultima Actualización: </label>
      <span>{{detailFixedPortfolio.updateLast}}</span>
    </div>
  </div>
</div>