<div class="containerChart">
  <div id="myChart1" class="left"></div>
  <div class="right">
    <app-table-history-sended-events [operation]="1"></app-table-history-sended-events>
    <app-table-history-sended-eventsx-account [operation]="1"></app-table-history-sended-eventsx-account>
  </div>
</div>
<div class="containerChart">
  <div id="myChart2" class="left"></div>
  <div class="right">
    <app-table-history-sended-events [operation]="2"></app-table-history-sended-events>
    <app-table-history-sended-eventsx-account [operation]="2"></app-table-history-sended-eventsx-account>
  </div>
</div>