table tbody td:not(:first-child),table thead th:not(:first-child) {
    text-align: center
}
.noData{
    text-align: center;
}

table{
    background: transparent !important;
    font-size: 10px;
    border: 0;
    font-family: telefonicaRegular !important;
    margin: 0;
    color: #fff;
}
table thead tr:first-child{
    text-align: center;
    background: rgba(13,62,80,1);
    text-transform: uppercase;
    border-bottom: 0px;
    font-size: 12px;
}

table thead tr:last-child{
    background: transparent;
    color: rgb(13, 157, 174);
}

table thead tr:first-child th{
    font-weight: normal !important;
}

table thead th,table tr{
    border: 0px !important;
}