form{
    min-width: 45%;
    clear: both;
}

.form-group{
    margin: 10px;
    padding: 10px;
    border: 2px inset #fff;
    border-radius: 5px;
}

.validateLimit{
    display: block;
}
.reduceFont{
    font-size: 0.7em;
}
