<div class="divBackground">
  <div class="back"></div>
  <form [formGroup]="loginForm" class="form-signin shadow-lg mb-5">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="userIcon" class="icon"></fa-icon>
        </div>
      </div>
      <input type="text" formControlName="userName" class="form-control" placeholder="Usuario" required autofocus
        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
      <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
        <div *ngIf="f.userName.errors.required">El nombre del usuario es obligatorio</div>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="passwordIcon" class="icon"></fa-icon>
        </div>
      </div>
      <input type="password" formControlName="userPassword" class="form-control" placeholder="Contraseña" (keypress)="keyPress_($event.key)" required
        [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }">
      <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
        <div *ngIf="f.userPassword.errors.required">la contraseña del usuario es obligatoria</div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="login()">Acceder</button>
  </form>
  <app-log-message></app-log-message>
  
</div>