<form [formGroup]="scriptElementForm">
  <div class="form-group">
    <div class="info" [ngbPopover]="popInfoContent"  triggers="mouseenter:mouseleave"
      container="body">i</div>
    <ng-template #popInfoContent>
      <div class=tagsInfo>
        <table class="table table-striped table-sm">
          <thead>
            <tr><th colspan="2">Tag</th><th>N° caracteres</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let tag of tagsList">
              <td>@{{tag.tag}}</td>
              <td><span class="tag">{{tag.tag}}</span></td>
              <td>{{tag.size}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
    <label>Mensaje</label>
    <mwl-text-input-autocomplete-container>
      <textarea placeholder="Mensaje a enviar" class="form-control" rows="5" mwlTextInputAutocomplete [findChoices]="findChoices"
        [getChoiceLabel]="getChoiceLabel" formControlName="scriptElement" rows="3" (input)="dataChange()" (keypress)="keyPressEvent($event.key)"
        [ngbPopover]="popContent" popoverTitle="Mensaje" triggers="mouseenter:mouseleave" [ngClass]="{ 'is-invalid': submitted && f.scriptElement.errors }">
      </textarea>
      <div *ngIf="submitted && f.scriptElement.errors" class="invalid-feedback">
        <div *ngIf="f.scriptElement.errors.required">El texto del mensaje es obligatorio</div>
      </div>
      <ng-template #popContent>
        <div [innerHTML]="msgHTML"></div>
      </ng-template>
    </mwl-text-input-autocomplete-container>
    <span class="reduceFont" *ngIf="quantityLimit!=null">Cantidad de caracteres restantes:{{getCharactersSize()}}</span>

    <div *ngIf="limitExceeded" class="invalid-feedback validateLimit">
      <div>Se ha excedido el tamaño máximo de caracteres permitidos</div>
    </div>
  </div>
</form>