<h4 class="title">Administrador de Eventos</h4>
<button type="button" class="btn btn-light btnNew" (click)="ViewModal(content)" >Configuración SMS doble via
</button>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="getFixedClass()" data-toggle="tab" routerLink="/events-manager/fixed" role="tab"
      aria-selected="true">Operación Fija</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="getMobileClass()" data-toggle="tab" routerLink="/events-manager/mobile" role="tab"
      aria-selected="false">Operación Móvil</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" role="tabpanel">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <app-double-via-configuration></app-double-via-configuration>
</ng-template>