.divOut {
    width: 7px;
    height: 7px;
    border: 2px solid skyblue;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 36px;
    bottom: -2px;
}
.divIn {
    width: 7px;
    height: 7px;
    border: 2px solid skyblue;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 36px;
    top: -2px;
}
.bubble{
    width: 30px;
    height: 30px;
    background:rgba(221,221,221,0.5);
    border: 1px solid #aaa;
    position: absolute;
    right: -30px;
}
.bubble span{
    display: block;
    font-weight: bold;
    text-align: center;
}

.efficiency{
    color: #5bc500;
    color: rgba(13,62,80,1);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: table;
    position: absolute;
    left: -35px;
    top: -1px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}