<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed; titleItemClassChange()" [attr.aria-expanded]="!isCollapsed">
    <span><fa-icon [icon]="barIcon"></fa-icon></span>
  </button>
  <div class="nameUser">{{nameUser}}</div>
  <div ngbDropdown class="userActions">
      <button class="btn btn-outline-primary divUser" id="dropdownBasic1" ngbDropdownToggle>
        <fa-icon [icon]="userIcon"></fa-icon>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="menuUserActions shadow">
        <button class="dropdown-item" (click)="signOut()">Cerrar Sesión&nbsp;<fa-icon [icon]="signoutIcon"></fa-icon></button>
      </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed" [ngClass]="titleItemClass">
    <ul class="nav flex-column navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" >
          <fa-icon [icon]="homeIcon" class="icon"></fa-icon><span class="titleItem" [ngClass]="titleItemClass">Inicio</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" *ngIf="readVisibilityActions('CONSULTAR_GRUPO')">
        <a class="nav-link" routerLink="/management-groups/fixed">
          <fa-icon [icon]="groupsIcon" class="icon"></fa-icon><span class="titleItem" [ngClass]="titleItemClass">Grupos de Gestión</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" *ngIf="readVisibilityActions('CONSULTAR_MARCA')">
        <a class="nav-link" routerLink="/manage-brands/fixed">
          <fa-icon [icon]="brandIcon" class="icon"></fa-icon><span class="titleItem" [ngClass]="titleItemClass">Gestión de Marcas</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" *ngIf="readVisibilityActions('CONSULTAR_CATEGORIA')">
        <a class="nav-link" routerLink="/events-manager/fixed">
          <fa-icon [icon]="eventIcon" class="icon"></fa-icon><span class="titleItem" [ngClass]="titleItemClass">Administrador de Eventos</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" *ngIf="readVisibilityActions('CONSULTAR_USUARIO')">
        <a class="nav-link" routerLink="/users-manager">
          <fa-icon [icon]="usersIcon" class="icon"></fa-icon><span class="titleItem" [ngClass]="titleItemClass">Gestión de usuarios</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/workflow/fixed">
          <fa-icon [icon]="workflowIcon" class="icon"></fa-icon><span class="titleItem" [ngClass]="titleItemClass">Administrador de Flujos</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/manager/fixed">
          <fa-icon [icon]="managerIcon" class="icon"></fa-icon><span class="titleItem" [ngClass]="titleItemClass">Gestor</span>
        </a>
      </li>
    </ul>
  </div>
</nav>